.Phonetic {
  margin-bottom: 25px;
}

.Phonetic a {
  text-decoration: none;
  border: 1px solid #ddd;
  padding: 8px 20px;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
  font-size: 12px;
  margin-left: 15px;
  background-color: rgba(255, 255, 255, 2);
  color: rgba(190, 190, 190);
}

.Phonetic a:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.Phonetic .phonetic-text {
  opacity: 0.7;
  font-weight: bold;
}
